// hero
.hero {
  position: relative;
  aspect-ratio: 3 / 1;
  background-size: cover;

  @include media-breakpoint-down(md) {
    background-image: unset !important;
  }

  .mobile_hero_img {
    display: block;

    @include media-breakpoint-up(md) {
      display: none;
    }

    img {
      max-width: 100%;
    }
  }

  .hero_content {
    background-color: $gold;
    background-color: var(--gold, $gold);
    padding: $space_three_quarter;
    
    @include media-breakpoint-up(md) {
      position: absolute;
      left: 10%;
      bottom: 1.2%;
    }
  }
}

// card
.card {
  // news card
  &.news {
    width: 18rem;

    .card-body {
      .card-title {
        font-size: 1.25rem;
      }

      .card-date {
        font-family: "proxima-nova", sans-serif;
        font-size: .875rem;
        font-weight: 600;
        color: $slate;
        color: var(--slate, $slate);
      }
    }

    .btn-dark_teal {
      --bs-btn-color: #fff;
      --bs-btn-bg: #1d5970;
      --bs-btn-border-color: #1d5970;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: #17475a;
      --bs-btn-hover-border-color: #17475a;
      --bs-btn-focus-shadow-rgb: 49, 132, 253;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: #17475a;
      --bs-btn-active-border-color: #17475a;
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: #fff;
      --bs-btn-disabled-bg: #1d5970;
      --bs-btn-disabled-border-color: #1d5970;
    }
  }
}
