header {
	margin: 0 auto;
  border-bottom: 2px solid $lehigh_brown;
  border-bottom: 2px solid var(--lehigh_brown, $lehigh_brown);
  @include transition;

  .department_bar {
    background-color: $lehigh_brown;
    background-color: var(--lehigh_brown, $lehigh_brown);

    .container {      
      @include media-breakpoint-down(md) {
        max-width: 100vw;
      }

      a {
        font-family: "Merriweather", Georgia, Palatino, serif;
        font-weight: 300;
        color: $white;
        color: var(--white, $white);
        font-size: .875rem;
        width: unset;
        text-decoration: none;
        @include transition;
        
        @include media-breakpoint-up(sm) {
          font-size: 1.25rem;
        }

        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
	
	.menu_bar {
		position: sticky;
		top: 0;
    
    @include media-breakpoint-down(md) {
      max-width: 100vw;
      padding-right: $spacer !important;
      padding-left: $spacer !important;
    }

    .row {
      .menu {
        .nav-toggle {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 28px;
          width: 32px;
          color: unset;
          border: unset;
          border-color: unset;
          padding: unset;
          @include transition;

          @include media-breakpoint-down(md) {
            height: 22px;
            width: 28px;
          }

          &:focus {
            box-shadow: unset;
          }

          .bar {
            height: 3px;
            width: 100%;
            background-color: $black;
            transition: all .35s ease-in-out;
          }
        }

        .x {
          @include transition;

          &:nth-of-type(1) {
            transition: all .35s ease-in-out;
            transform: rotate(45deg);
            transform-origin: top left;
            width: 37px;

            @include media-breakpoint-down(md) {
              width: 28px;
            }
          }

          &:nth-of-type(2) {
            transition: all .35s ease-in-out;
            transform-origin: center;
            width: 0;
          }

          &:nth-of-type(3) {
            transition: all .35s ease-in-out;
            transform: rotate(-45deg);
            transform-origin: bottom left;
            width: 37px;

            @include media-breakpoint-down(md) {
              width: 28px;
            }
          }
        }

        .main_nav {
          .navbar-collapse {
            position: fixed;
            left: 0;
            width: 100vw;
            background-color: $darkest_grey;
            background-color: var(--darkest_grey, $darkest_grey);
            background-size: cover !important;
            @include transition;

            &.collapsing {
              height: 0;
              @include fast_transition;
            }

            .navbar-wrapper {
              .header-search {
                .search_box {
                  font-size: 1rem;
                  border: 3px solid $white;
                  border: 3px solid var(--white, $white);
                  
                  @include media-breakpoint-up(md) {
                    font-size: 2rem;
                  }

                  &:focus,
                  &:focus-within {
                    border: 3px solid $peach;
                  }
                }

                .btn {
                  background-color: $success;
                  background-color: var(--success, $success);
                  color: $white;
                  color: var(--white, $white);

                  &:focus,
                  &:hover {
                    background-color: $white;
                    background-color: var(--white, $white);
                    color: $success;
                    color: var(--success, $success);
                  }
                }
              }

              .main_menu {
                overflow: scroll;

                .navbar-nav {
                  align-content: flex-start;

                  .nav-item {
                    margin: 0 0 .875rem 0;
                    width: 100%;
  
                    @include media-breakpoint-up(md) {
                      width: 45%;
                      margin: 0 $spacer $space_three 0;
                    }
                    
                    @include media-breakpoint-up(lg) {
                      width: 31%;
                    }

                    @include media-breakpoint-up(xl) {
                      width: 23%;
                    }

                    .nav-link {
                      &.title {
                        color: $white;
                        color: var(--white, $white);
                        padding: 0;
                        font-size: 1.5rem;
                        font-weight: bold;
                      }

                      &:focus,
                      &:hover {
                        text-decoration: underline;
                      }

                      &.dropdown-toggle {
                        &::after {
                          display: none;
                        }

                        i {
                          margin: 0 0 0 $space_half;
                          transform: rotate(0deg);
                          @include transition;

                          @include media-breakpoint-up(md) {
                            display: none;
                          }
                        }

                        &.show {
                          i {
                            transform: rotate(180deg);
                            @include transition;
                          }
                        }
                      }
                    }

                    &:last-of-type {
                      .nav-link {
                        margin: 0;
                      }
                    }

                    .dropdown-menu {
                      background-color: unset;

                      @include media-breakpoint-up(md) {
                        display: block;
                      }

                      .dropdown-item {
                        color: $white;
                        color: var(--white, $white);
                        white-space: inherit;

                        &:focus,
                        &:hover {
                          background-color: unset;
                          text-decoration: underline;
                        }

                        &.dropdown-toggle {
                          &::after {
                            display: none;
                          }
  
                          i {
                            display: none;

                            @include media-breakpoint-up(md) {
                              margin: 0 0 0 $space_half;
                              transform: rotate(0deg);
                              @include transition;
                            }
                          }
  
                          @include media-breakpoint-up(md) {
                            &.show {
                              i {
                                transform: rotate(180deg);
                                @include transition;
                              }
                            }
                          }
                        }
                      }

                      .dropdown {
                        .submenu {
                          margin: 0 0 0 $space_three_quarter;
                          display: block;
                        }
                      }
                    }
                  }
                }
              }

              .quick-links-nav {
                bottom: 0;
                visibility: hidden;
                position: relative;

                @include media-breakpoint-up(md) {
                  position: fixed;
                }
                
                .nav-item {
                  @include reset-list-style;
                  margin: 0 0 $space_half 0;
                  
                  @include media-breakpoint-up(md) {
                    margin: 0 $spacer;
                  }
                  
                  &:first-of-type {
                    @include media-breakpoint-up(md) {
                      margin: 0 $spacer 0 0;
                    }  
                  }
                  
                  &:last-of-type {
                    margin: 0;

                    @include media-breakpoint-up(md) {
                      margin: 0 0 0 $spacer;
                    }
                  }
                  
                  .nav-link {
                    font-size: 1rem;
                    color: $black;
                    color: var(--black, $black);
                    background-color: $beige;
                    background-color: var(--beige, $beige);
                    padding: $space_quarter;
                    
                    @include media-breakpoint-up(md) {
                      padding: $space_half;
                    }

                    &:focus,
                    &:hover {
                      background-color: $white;
                    }
                  }
                }
              }
            }
            
            &.show {
              height: 100vh;
              @include transition;
              
              .navbar-wrapper {
                height: calc(100% - 125px);
                overflow: scroll;

                .quick-links-nav {
                  visibility: visible;
                }
              }
            }
          }
        }

        .navbar-toggler-icon {
          @include media-breakpoint-down(md) {
            width: 1em !important;
            height: 1em !important;
          }
        }
      }
      
      .logo {
        display: flex;
        justify-content: center;
        
        img {
          height: 35px;
          @include transition;

          @include media-breakpoint-up(md) {
            height: 50px;
          }
        }
      }

      .search {
        display: flex;
        justify-content: flex-end;

        .search_btn {
          display: flex;
          align-items: center;
          font-size: 36px;
          @include transition;
          
          @include media-breakpoint-down(md) {
            font-size: 24px;
            @include transition;
          }
        }
      }
    }
	}

  &.scrolling,
  .no_scroll & {
    .department_bar {
      a {
        @include media-breakpoint-up(md) {  
          font-size: 1rem;
        }

        @include transition;
      }
    }
    
    .menu_bar {
      .row {
        .logo {
          img {
            height: 35px;
            @include transition;
          }
        }

        .search {
          .search_btn {
            font-size: 24px;
            @include transition;
            
            @include media-breakpoint-up(md) { 
              font-size: 28px;
              @include transition;
            }
          }
        }

        .menu {
          .nav-toggle {
            height: 24px;
            width: 28px;
            @include transition;
          }

          .x {
            &:nth-of-type(1),
            &:nth-of-type(3) {
              width: 32px;
              @include transition;
            }
          }
        }
      }
    }
  }
}
