header {
	margin: 0 auto;
  background-color: $white;
  background-color: var(--white, $white);
  border-bottom: 2px solid $lehigh_brown;
  border-bottom: 2px solid var(--lehigh_brown, $lehigh_brown);
  position: sticky;
  top: 0;
  z-index: 1020;
  @include transition;
  
  .department_bar {
    background-color: $lehigh_brown;
    background-color: var(--lehigh_brown, $lehigh_brown);
    width: 100%;
    
    .department_wrapper {
      padding: $space_half $spacer;
      margin: 0 auto;
      @include max-width;
      
      @media (min-width: $width_md) {
        padding: $space_half 0;
      }
      
      a {
        font-family: "Merriweather", Georgia, Palatino, serif;
        font-weight: 300;
        color: #fff;
        color: var(--white, #fff);
        font-size: .875rem;
        width: unset;
        text-decoration: none;

        @media (min-width: $width_sm) {
          font-size: 1.25rem;
        }
      }
    }
  }

  .menu_bar {
    position: sticky;
    top: 0;
    margin: 0 auto;
    padding: $space_half $spacer;
    background-color: $white;
    background-color: var(--white, $white);
    @include max-width;

    @media (min-width: $width_md) {
      padding: $space_half 0;
    }

    .menu_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .menu {
        display: flex;
        align-items: flex-end;

        .navbar-toggler {
          .bar {
            display: block;
            height: 4px;
            width: 40px;
            margin: 0 0 10px 0;
            background-color: $black;
            @include transition;

            &::last-of-type {
              margin: 0;
            }
          }
        }

        .main_nav {
          .main_nav_wrapper {
            // display: none; // TODO
            position: fixed;
            left: 0;
            width: 100vw;
            height: 0;
            z-index: 1;
            background-color: #222;
            background-color: var(--darkest_grey, #222);
            background-size: cover !important;
            @include transition;

            .nav-container {
              opacity: 0;
              display: none;
              margin: $space_two auto 0 auto;
              @include max-width;

              .header-search {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                .search_box {
                  font-size: 2rem;
                  display: block;
                  width: 100%;
                  padding: 0.375rem 0.75rem;
                  margin: 0 $space_half 0 0;
                  font-weight: 400;
                  line-height: 1.5;
                  appearance: none;
                  background-color: $white;
                  background-color: var(--white, $white);
                  background-clip: padding-box;
                  border: 3px solid $white;
                  border: 3px solid var(--white, $white);
                  border-radius: 5px;
                  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }
                
                .btn {
                  background-color: $success;
                  background-color: var(--success, $success);
                  color: $white;
                  color: var(--white, $white);
                  padding: $space_three_quarter;
                  border-radius: 5px;
                }
              }

              .main_menu {
                margin: $space_three 0 0 0;
                overflow: scroll;
                -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
                scrollbar-width: none;  /* hide scrollbar for Firefox */

                // hide scrollbar for Chrome, Safari, and Opera
                &::-webkit-scrollbar {
                  display: none;
                }

                .navbar-nav {
                  display: flex;
                  flex-direction: column;

                  @media (min-width: $width_md) {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: $space_three $spacer;
                  }
                  
                  @media (min-width: $width_lg) {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                  }

                  .nav-item {
                    .nav-link {
                      color: $white;
                      color: var(--white, $white);

                      &.title {
                        font-size: 1.5rem;
                        font-weight: bold;
                        padding: 0;
                      }

                      &.dropdown-toggle {
                          i {
                            margin: 0 0 0 0.5rem;
                            transform: rotate(0deg);
                            @include transition;

                            @media (min-width: $width_md) {
                              display: none;
                            }
                        }
                      }
                    }
                      
                    .dropdown-menu {
                      margin: 0 0 0 $spacer;

                      li {
                        margin: $space_half 0;

                        .dropdown-item {
                          color: $white;
                          color: var(--white, $white);
                          text-decoration: none;

                          &:focus,
                          &:hover {
                            text-decoration: underline;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .quick_nav {
              position: fixed;
              bottom: 9px;
              visibility: hidden;

              .quick-links-nav {
                display: flex;
                flex-direction: column;

                @media (min-width: $width_md) {
                  flex-direction: row;
                  flex-wrap: wrap;
                }
                
                .nav-item {
                  margin: 0;

                  @media (min-width: $width_md) {
                    margin: 0 $spacer;

                    &:first-of-type {
                      margin: 0 $spacer 0 0;
                    }
                  }

                  .nav-link {
                    font-size: 1rem;
                    color: $black;
                    color: var(--black, $black);
                    background-color: $beige;
                    background-color: var(--beige, $beige);
                    padding: $space_quarter;
                    border-radius: 5px;

                    @media (min-width: $width_md) {
                      padding: $space_half;
                    }

                    &:focus,
                    &:hover {
                      background-color: $white;
                      background-color: var(--white, $white);
                    }
                  }
                }
              }
            }

            &.show {
              height: 100vh;
              z-index: 3;
              
              .nav-container {
                opacity: 1;
                display: block;
                height: calc(100% - 190px);
                @include transition;
                overflow: scroll;
                -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
                scrollbar-width: none;  /* hide scrollbar for Firefox */

                // hide scrollbar for Chrome, Safari, and Opera
                &::-webkit-scrollbar {
                  display: none;
                }

                .quick_nav {
                  visibility: visible;
                }
              }
            }
          }
        }

        .x {
          @include transition;

          &:nth-of-type(1) {
            transition: all .35s ease-in-out;
            transform: rotate(45deg);
            transform-origin: top left;
            width: 40px;

            @media (max-width: $width_sm) {
              width: 28px;
            }
          }

          &:nth-of-type(2) {
            transition: all .35s ease-in-out;
            transform-origin: center;
            width: 0;
          }

          &:nth-of-type(3) {
            transition: all .35s ease-in-out;
            transform: rotate(-45deg);
            transform-origin: bottom left;
            width: 40px;

            @media (max-width: $width_sm) {
              width: 28px;
            }
          }
        }
      }

      .logo {
        display: flex;
        justify-content: center;

        img {
          height: 50px;
        }
      }

      .search {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .search_btn {
          font-size: 36px;
          @include transition;
        }
      }
    }
  }
}
