/**************
* General Mixins (put specific ones in component files where applicable)

* Mixin - Clearfix.
* Adds clearfix based on http://bourbon.io/docs/#clearfix
* use example =   @include clearfix
**************/

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
}

@mixin reset-list-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin transition {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@mixin font-awesome-base {
  font-family: $font-awesome;
  font-weight: 600;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@mixin font-awesome-brand {
  font-family: $font-awesome-brand;
  font-weight: 600;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@mixin outline-base {
  outline-style: solid;
  outline-color: rgba(229, 151, 0, 0.7);
  outline-width: 5px;
}

@mixin color-scheme-dark() {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}
@mixin color-scheme-light() {
  @media (prefers-color-scheme: light) {
    @content;
  }
}
