// Colors
$beige: #fff6da;
$black: #000;
$darkest_grey: #222;
$lehigh_brown: #502d0e;
$light_grey: #f9fafb;
$peach: #fecb86;
$success: #198754;
$white: #fff;

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// reset max widths
$container-max-widths: (
  sm: 640px,
  md: 820px,
  lg: 960px,
  xl: 1280px,
  xxl: 1600px
) !default;

// Spacing
$spacer: 1rem;
$spacer_and_quarter: 1.25rem;
$spacer_and_half: 1.5rem;
$space_two: 2rem;
$space_two_and_half: 2.5rem;
$space_three: 3rem;
$space_four: 4rem;
$space_five: 5rem;
$space_six: 6rem;
$space_seven: 7rem;
$space_eight: 8rem;
$space_nine: 9rem;
$space_ten: 10rem;
$space_quarter: .25rem;
$space_half: .5rem;
$space_three_quarter: .75rem;
