@import 'custom/variables';
@import 'custom/header';
// @import "../../../node_modules/bootstrap/scss/bootstrap";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	color: var(--black, $black);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
