// @import "../../../node_modules/bootstrap/scss/bootstrap";
@import 'custom/reset';
@import 'custom/mixins';
@import 'custom/variables';
@import 'custom/header';
@import 'custom/components';
@import 'custom/footer';
@import 'custom/sidebar';

:root {
  --accent_color: #ffe41e;

  --almost_black: #15181b;
  --beige: #fff6da;
  --black: #000;
  --dark_teal: #1d5970;
  --dark_teal_hover: #17475a;
  --darkest_grey: #222;
  --grey_background: #e9ecef;
  --gold: #ffe41e;
  --lehigh_brown: #502d0e;
  --light_blue: #94d0e9;
  --light_grey: #f9fafb;
  --navy: #273868;
  --navy_dark: #040c21;
  --peach: #fecb86;
  --slate: #6c757d;
  --success: #198754;
  --white: #fff;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --rem: 16;
}

body {
	color: var(--darkest_grey, $darkest_grey);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

.skip-link {
  background-color: var(--white, $white);
  color: var(--lehigh_brown, $lehigh_brown);
  padding: $space_half;
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
  @include transition;
  z-index: 1021;
  
  &:hover {
    color: var(--lehigh_brown, $lehigh_brown);
    text-decoration: none;
  }

  &:focus {
    transform: translateY(0%);
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);

  @media (min-width: $width_xl) {
    h1 {
      font-size: 2.5rem;
    }
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);

  @media (min-width: $width_xl) {
    h2 {
      font-size: 2rem; 
    }
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);

  @media (min-width: $width_xl) {
    h3 {
      font-size: 1.75rem;
    }
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);

  @media (min-width: $width_xl) {
    h4 {
      font-size: 1.5rem;
    }
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h2,
h3 {
  position: relative;
  width: fit-content;

  &::after {
    position: relative;
    background-color: var(--accent_color ,$accent_color);
    content: "";
    display: block;
    height: 0.125rem;
    margin: $space_half 0;
    width: 5rem;
    @include transition;
  }
}

main {
  margin: $spacer;
  
  @media (min-width: $width_md) {
    margin: $space_three auto;
    padding: 0;
    @include max-width;
  }

  a {
    color: var(--navy, $navy);
    font-weight: 600;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  h2,
  h3 {
    a {
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }
}
