@charset "UTF-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert; }

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert; }

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none; }

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%; }

/* removes spacing between cells in tables */
table {
  border-collapse: collapse; }

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto; }

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert; }

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert; }

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert; }

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset; }

/* remove default dot (•) sign */
::marker {
  content: initial; }

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none; }

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto; }

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element; }

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert; }

/**************
* General Mixins (put specific ones in component files where applicable)

* Mixin - Clearfix.
* Adds clearfix based on http://bourbon.io/docs/#clearfix
* use example =   @include clearfix
**************/
header {
  margin: 0 auto;
  background-color: #fff;
  background-color: var(--white, #fff);
  border-bottom: 2px solid #502d0e;
  border-bottom: 2px solid var(--lehigh_brown, #502d0e);
  position: sticky;
  top: 0;
  z-index: 1020;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease; }
  header .department_bar {
    background-color: #502d0e;
    background-color: var(--lehigh_brown, #502d0e);
    width: 100%; }
    header .department_bar .department_wrapper {
      padding: 0.5rem 1rem;
      margin: 0 auto; }
      @media (min-width: 576px) {
        header .department_bar .department_wrapper {
          max-width: 540px; } }
      @media (min-width: 768px) {
        header .department_bar .department_wrapper {
          max-width: 720px; } }
      @media (min-width: 992px) {
        header .department_bar .department_wrapper {
          max-width: 960px; } }
      @media (min-width: 1200px) {
        header .department_bar .department_wrapper {
          max-width: 1140px; } }
      @media (min-width: 1400px) {
        header .department_bar .department_wrapper {
          max-width: 1320px; } }
      @media (min-width: 768px) {
        header .department_bar .department_wrapper {
          padding: 0.5rem 0; } }
      header .department_bar .department_wrapper a {
        font-family: "Merriweather", Georgia, Palatino, serif;
        font-weight: 300;
        color: #fff;
        color: var(--white, #fff);
        font-size: .875rem;
        width: unset;
        text-decoration: none;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -ms-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease; }
        @media (min-width: 576px) {
          header .department_bar .department_wrapper a {
            font-size: 1.25rem; } }
  header .menu_bar {
    position: sticky;
    top: 0;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: #fff;
    background-color: var(--white, #fff); }
    @media (min-width: 576px) {
      header .menu_bar {
        max-width: 540px; } }
    @media (min-width: 768px) {
      header .menu_bar {
        max-width: 720px; } }
    @media (min-width: 992px) {
      header .menu_bar {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      header .menu_bar {
        max-width: 1140px; } }
    @media (min-width: 1400px) {
      header .menu_bar {
        max-width: 1320px; } }
    @media (min-width: 768px) {
      header .menu_bar {
        padding: 0.5rem 0; } }
    header .menu_bar .menu_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      header .menu_bar .menu_wrapper .menu {
        display: flex;
        align-items: center; }
        header .menu_bar .menu_wrapper .menu .navbar-toggler {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 30px;
          width: 40px;
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease; }
          header .menu_bar .menu_wrapper .menu .navbar-toggler .bar {
            height: 3px;
            width: 100%;
            background-color: #000;
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -ms-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            transition: all 0.35s ease; }
            header .menu_bar .menu_wrapper .menu .navbar-toggler .bar::last-of-type {
              margin: 0; }
        header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper {
          position: fixed;
          left: 0;
          width: 100vw;
          height: 0;
          z-index: 1;
          background-color: #222;
          background-color: var(--darkest_grey, #222);
          background-size: cover !important;
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          transition: all 0.25s ease; }
          header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container {
            opacity: 0;
            display: none;
            margin: 2rem auto 0 auto; }
            @media (min-width: 576px) {
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container {
                max-width: 540px; } }
            @media (min-width: 768px) {
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container {
                max-width: 720px; } }
            @media (min-width: 992px) {
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container {
                max-width: 960px; } }
            @media (min-width: 1200px) {
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container {
                max-width: 1140px; } }
            @media (min-width: 1400px) {
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container {
                max-width: 1320px; } }
            header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .header-search {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap; }
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .header-search .search_box {
                font-size: 2rem;
                display: block;
                width: 100%;
                padding: 0.375rem 0.75rem;
                margin: 0 0.5rem 0 0;
                font-weight: 400;
                line-height: 1.5;
                appearance: none;
                background-color: #fff;
                background-color: var(--white, #fff);
                background-clip: padding-box;
                border: 3px solid #fff;
                border: 3px solid var(--white, #fff);
                border-radius: 5px;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .header-search .btn {
                background-color: #198754;
                background-color: var(--success, #198754);
                color: #fff;
                color: var(--white, #fff);
                padding: 0.75rem;
                border-radius: 5px; }
            header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu {
              margin: 3rem 0 0 0;
              overflow: scroll;
              -ms-overflow-style: none;
              /* hide scrollbar for IE and Edge */
              scrollbar-width: none;
              /* hide scrollbar for Firefox */ }
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu::-webkit-scrollbar {
                display: none; }
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav {
                display: flex;
                flex-direction: column; }
                @media (min-width: 768px) {
                  header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 3rem 1rem; } }
                @media (min-width: 992px) {
                  header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav {
                    grid-template-columns: 1fr 1fr 1fr 1fr; } }
                header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav .nav-item .nav-link {
                  color: #fff;
                  color: var(--white, #fff); }
                  header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav .nav-item .nav-link.title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding: 0; }
                  header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav .nav-item .nav-link.dropdown-toggle i {
                    margin: 0 0 0 0.5rem;
                    transform: rotate(0deg);
                    -webkit-transition: all 0.35s ease;
                    -moz-transition: all 0.35s ease;
                    -ms-transition: all 0.35s ease;
                    -o-transition: all 0.35s ease;
                    transition: all 0.35s ease; }
                    @media (min-width: 768px) {
                      header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav .nav-item .nav-link.dropdown-toggle i {
                        display: none; } }
                header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav .nav-item .dropdown-menu {
                  margin: 0 0 0 1rem; }
                  header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav .nav-item .dropdown-menu li {
                    margin: 0.5rem 0; }
                    header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
                      color: #fff;
                      color: var(--white, #fff);
                      text-decoration: none; }
                      header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav .nav-item .dropdown-menu li .dropdown-item:focus, header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .nav-container .main_menu .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover {
                        text-decoration: underline; }
          header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .quick_nav {
            position: fixed;
            bottom: 9px;
            visibility: hidden; }
            header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .quick_nav .quick-links-nav {
              display: flex;
              flex-direction: column; }
              @media (min-width: 768px) {
                header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .quick_nav .quick-links-nav {
                  flex-direction: row;
                  flex-wrap: wrap; } }
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .quick_nav .quick-links-nav .nav-item {
                margin: 0; }
                @media (min-width: 768px) {
                  header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .quick_nav .quick-links-nav .nav-item {
                    margin: 0 1rem; }
                    header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .quick_nav .quick-links-nav .nav-item:first-of-type {
                      margin: 0 1rem 0 0; } }
                header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .quick_nav .quick-links-nav .nav-item .nav-link {
                  font-size: 1rem;
                  color: #000;
                  color: var(--black, #000);
                  background-color: #fff6da;
                  background-color: var(--beige, #fff6da);
                  padding: 0.25rem;
                  border-radius: 5px; }
                  @media (min-width: 768px) {
                    header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .quick_nav .quick-links-nav .nav-item .nav-link {
                      padding: 0.5rem; } }
                  header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .quick_nav .quick-links-nav .nav-item .nav-link:focus, header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper .quick_nav .quick-links-nav .nav-item .nav-link:hover {
                    background-color: #fff;
                    background-color: var(--white, #fff); }
          header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper.show {
            height: 100vh;
            z-index: 3; }
            header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper.show .nav-container {
              opacity: 1;
              display: block;
              height: calc(100% - 190px);
              -webkit-transition: all 0.35s ease;
              -moz-transition: all 0.35s ease;
              -ms-transition: all 0.35s ease;
              -o-transition: all 0.35s ease;
              transition: all 0.35s ease;
              overflow: scroll;
              -ms-overflow-style: none;
              /* hide scrollbar for IE and Edge */
              scrollbar-width: none;
              /* hide scrollbar for Firefox */ }
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper.show .nav-container::-webkit-scrollbar {
                display: none; }
              header .menu_bar .menu_wrapper .menu .main_nav .main_nav_wrapper.show .nav-container .quick_nav {
                visibility: visible; }
        header .menu_bar .menu_wrapper .menu .x {
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease; }
          header .menu_bar .menu_wrapper .menu .x:nth-of-type(1) {
            transform: rotate(45deg);
            transform-origin: top left;
            width: 37px; }
            @media (max-width: 576px) {
              header .menu_bar .menu_wrapper .menu .x:nth-of-type(1) {
                width: 28px; } }
          header .menu_bar .menu_wrapper .menu .x:nth-of-type(2) {
            transform-origin: center;
            width: 0; }
          header .menu_bar .menu_wrapper .menu .x:nth-of-type(3) {
            transform: rotate(-45deg);
            transform-origin: bottom left;
            width: 37px; }
            @media (max-width: 576px) {
              header .menu_bar .menu_wrapper .menu .x:nth-of-type(3) {
                width: 28px; } }
      header .menu_bar .menu_wrapper .logo {
        display: flex;
        justify-content: center; }
        header .menu_bar .menu_wrapper .logo img {
          height: 50px;
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease; }
      header .menu_bar .menu_wrapper .search {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        header .menu_bar .menu_wrapper .search .search_btn {
          font-size: 36px;
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease; }
  .no_scroll header .department_bar .department_wrapper a, header.scrolling .department_bar .department_wrapper a {
    font-size: 1rem;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  .no_scroll header .menu_bar .menu_wrapper img, header.scrolling .menu_bar .menu_wrapper img {
    height: 35px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  .no_scroll header .menu_bar .menu_wrapper .search .search_btn, header.scrolling .menu_bar .menu_wrapper .search .search_btn {
    font-size: 28px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  .no_scroll header .menu_bar .menu_wrapper .menu .navbar-toggler, header.scrolling .menu_bar .menu_wrapper .menu .navbar-toggler {
    height: 26px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .no_scroll header .menu_bar .menu_wrapper .menu .navbar-toggler .x:nth-of-type(1), .no_scroll header .menu_bar .menu_wrapper .menu .navbar-toggler .x:nth-of-type(3), header.scrolling .menu_bar .menu_wrapper .menu .navbar-toggler .x:nth-of-type(1), header.scrolling .menu_bar .menu_wrapper .menu .navbar-toggler .x:nth-of-type(3) {
      width: 32px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }

footer {
  background-color: #502d0e;
  background-color: var(--lehigh_brown, #502d0e);
  color: #fff;
  color: var(--white, #fff);
  font-size: .875rem; }
  footer .row > * {
    width: unset; }
  footer a {
    color: #fff;
    color: var(--white, #fff); }
    footer a:focus, footer a:hover {
      color: #fff;
      color: var(--white, #fff);
      text-decoration: none; }
    footer a .extlink {
      margin: 0 0 0 0.25rem;
      font-size: .75rem; }
  footer .logo {
    width: 300px; }
  footer .copyright {
    text-align: center; }
  footer .common_links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none; }
    footer .common_links ul li {
      margin: 0 0.5rem; }
      footer .common_links ul li:first-of-type {
        margin: 0 0.5rem 0 0; }
      footer .common_links ul li:last-of-type {
        margin: 0 0 0 0.5rem; }

:root {
  --accent_color: #ffe41e;
  --almost_black: #15181b;
  --beige: #fff6da;
  --black: #000;
  --dark_teal: #1d5970;
  --dark_teal_hover: #17475a;
  --darkest_grey: #222;
  --gold: #ffe41e;
  --lehigh_brown: #502d0e;
  --light_blue: #94d0e9;
  --light_grey: #f9fafb;
  --navy: #273868;
  --navy_dark: #040c21;
  --peach: #fecb86;
  --slate: #6c757d;
  --success: #198754;
  --white: #fff; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  color: var(--black, #000);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0; }
  body.no-scroll {
    overflow: hidden; }

.skip-link {
  background-color: #fff;
  background-color: var(--white, #fff);
  color: #502d0e;
  color: var(--lehigh_brown, #502d0e);
  padding: 0.5rem;
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  z-index: 1021; }
  .skip-link:hover {
    color: #502d0e;
    color: var(--lehigh_brown, #502d0e);
    text-decoration: none; }
  .skip-link:focus {
    transform: translateY(0%); }

h2,
h3 {
  position: relative; }
  h2::after,
  h3::after {
    position: relative;
    background-color: #ffe41e;
    background-color: var(--accent_color, #ffe41e);
    content: "";
    display: block;
    height: 0.125rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 5rem;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }

main {
  position: relative;
  z-index: 2; }
