footer {
  background-color: var(--grey_background, $grey_background);
  color: var(--lehigh_brown, $lehigh_brown);
  font-size: .875rem;
  padding: $space_two $spacer;
  position: relative;
  z-index: 2;
  
  @media (min-width: $width_md) {
    padding: $space_three 0;
  }
  
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    @media (min-width: $width_md) {
      padding: $space_half 0;
      @include max-width;
    }
  
    a {
      color: var(--lehigh_brown, $lehigh_brown);
      
      &:focus,
      &:hover {
        color: var(--lehigh_brown, $lehigh_brown);
        text-decoration: none;
      }

      .extlink {
        margin: 0 0 0 $space_quarter;
        font-size: .75rem;
      }
    }

    .logo {
      margin: 0 0 $spacer_and_half 0;
    }

    .copyright {
      text-align: center;
      margin: 0 0 $spacer 0;
    }
    
    .common_links {
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        @include reset-list-nav;

        li {
          margin: 0 $space_half;

          &:first-of-type {
            margin: 0 $space_half 0 0;
          }

          &:last-of-type {
            margin: 0 0 0 $space_half;
          }
        }
      }
    }
  }
}

.footer-image {
  position: relative;
  background: linear-gradient(to top, rgba(233, 236, 239, 1) 0%, rgba(255, 255, 255, 0) 70%), url('../../img/LU_Panorama.jpg');
  background-size: cover;
  background-position: center bottom 34%;
  aspect-ratio: 5 / 1;
  bottom: -1px;
  z-index: 1;
}
