@use 'variables' as *;
@use 'mixins' as *;

header {
	margin: 0 auto;
  background-color: var(--white, $white);
  border-bottom: 2px solid var(--lehigh_brown, $lehigh_brown);
  @include transition;
  
  .department_bar {
    background-color: var(--lehigh_brown, $lehigh_brown);
    width: 100%;
    
    .department_wrapper {
      padding: $space_half $spacer;
      margin: 0 auto;
      
      @media (min-width: $width_md) {
        padding: $space_half 0;
        @include max-width;
      }
      
      a {
        font-family: "Merriweather", Georgia, Palatino, serif;
        font-weight: 300;
        color: var(--white, $white);
        font-size: .875rem;
        width: unset;
        text-decoration: none;
        @include transition;

        @media (min-width: $width_md) {
          font-size: 1.125rem;
        }
      }
    }
  }

  .menu_bar {
    position: sticky;
    top: 0;
    margin: 0 auto;
    padding: $space_half $spacer;
    background-color: var(--white, $white);
    max-width: 100vw;
    
    @media (min-width: $width_md) {
      padding: $space_half 0;
      @include max-width;
    }

    .menu_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .menu {
        .navbar-toggler {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 22px;
          width: 30px;
          cursor: pointer;
          border: none;
          padding: unset;
          @include transition;

          &:focus {
            box-shadow: none;
          }
          
          @media (min-width: $width_md) {
            height: 30px;
            width: 40px;
          }

          .bar {
            height: 3px;
            width: 100%;
            background-color: var(--black, $black);
            @include transition;

            &::last-of-type {
              margin: 0;
            }
          }
        }

        .main_nav {
          .main_nav_wrapper {
            position: fixed;
            left: 0;
            width: 100vw;
            height: 0;
            z-index: 1;
            background-color: var(--darkest_grey, $darkest_grey);
            background-size: cover !important;
            @include fast_transition;

            .nav-container {
              opacity: 0;
              display: none;
              margin: $spacer;
              
              @media (min-width: $width_md) {
                margin: $space_two auto 3rem auto;
                @include max-width;
              }

              .header-search {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                .search_box {
                  font-size: 1rem;
                  display: block;
                  width: 100%;
                  padding: 0.375rem 0.75rem;
                  margin: 0 $space_half 0 0;
                  font-weight: 400;
                  line-height: 1.5;
                  appearance: none;
                  background-color: var(--white, $white);
                  background-clip: padding-box;
                  border: 3px solid var(--white, $white);
                  border-radius: $border_radius;
                  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                  
                  @media (min-width: $width_md) {
                    font-size: 2rem;
                  }

                  &:focus,
                  &:focus-within {
                    border: 3px solid $peach;
                  }
                }
                
                .btn {
                  background-color: var(--success, $success);
                  color: var(--white, $white);
                  padding: $space_three_quarter;
                  border-radius: $border_radius;
                  @include transition;

                  &:focus,
                  &:hover {
                    background-color: var(--white, $white);
                    color: var(--success, $success);
                    @include transition;
                  }
                }
              }

              .main_menu {
                margin: $space_three 0 0 0;
                overflow: scroll;
                -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
                scrollbar-width: none;  /* hide scrollbar for Firefox */

                // hide scrollbar for Chrome, Safari, and Opera
                &::-webkit-scrollbar {
                  display: none;
                }

                .navbar-nav {
                  display: flex;
                  flex-direction: column;

                  @media (min-width: $width_md) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: $space_three $spacer;
                  }
                  
                  @media (min-width: $width_lg) {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                  }

                  .nav-item {
                    margin: 0 0 .875rem 0;

                    @media (min-width: $width_md) {
                      margin: 0;
                    }

                    .nav-link {
                      color: var(--white, $white);

                      &.title {
                        font-size: 1.5rem;
                        font-weight: bold;
                        padding: 0;
                        z-index: 3;
                      }

                      &.dropdown-toggle {
                          i {
                            margin: 0 0 0 0.5rem;
                            transform: rotate(0deg);
                            @include transition;

                            @media (min-width: $width_md) {
                              display: none;
                            }
                        }

                        &[aria-expanded="true"] {
                          i {
                            transform: rotate(180deg);
                            @include transition;
                          }
                        }
                      }
                    }
                      
                    .dropdown-menu {
                      background-color: unset;
                      border: none;
                      position: relative;
                      opacity: 0;
                      max-height: 0;
                      // overflow: hidden;
                      z-index: 1;
                      @include transition;
                      
                      @media (min-width: $width_md) {
                        display: block;
                        opacity: 1;
                        max-height: unset;
                      }
                        
                      &.show {
                        opacity: 1;
                        max-height: 1500px;
                        z-index: 2;
                        @include transition;
                      }

                      li {
                        margin: $space_half 0;

                        .dropdown-item {
                          color: var(--white, $white);
                          text-decoration: none;
                          white-space: normal;

                          &:focus,
                          &:hover {
                            text-decoration: underline;
                            background-color: unset;
                          }
                        }

                        &.dropdown {
                          .submenu {
                            overflow: unset;
                            opacity: unset;
                            max-height: unset;
                            margin: 0 0 $spacer $spacer;
                          }

                          &:last-of-type {
                            .submenu {
                              margin: 0 0 0 $spacer;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .quick_nav {
              position: relative;
              margin: $spacer 0 0 0;
              visibility: hidden;
              
              @media (min-width: $width_md) {
                position: fixed;
                bottom: 9px;
                margin: unset;
              }

              .quick-links-nav {
                display: flex;
                flex-direction: column;

                @media (min-width: $width_md) {
                  flex-direction: row;
                  flex-wrap: wrap;
                }
                
                .nav-item {
                  margin: 0 0 $spacer 0;

                  @media (min-width: $width_md) {
                    margin: 0 $spacer;

                    &:first-of-type {
                      margin: 0 $spacer 0 0;
                    }
                  }

                  .nav-link {
                    display: block;
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--darkest_grey, $darkest_grey);
                    background-color: var(--beige, $beige);
                    padding: $spacer;
                    border-radius: $border_radius;
                    width: 100%;
                    text-align: center;

                    @media (min-width: $width_md) {
                      padding: $space_half;
                    }

                    &:focus,
                    &:hover {
                      background-color: var(--white, $white);
                    }
                  }
                }
              }
            }

            &.show {
              height: 100vh;
              z-index: 3;
              
              .nav-container {
                opacity: 1;
                display: block;
                @include transition;
                height: 100%;
                
                
                .nav-container-wrapper {
                  overflow: scroll;
                  height: calc(100% - 150px);
                  
                  // hide scroll bar for windows
                  -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
                  scrollbar-width: none;  /* hide scrollbar for Firefox */
                  
                  // hide scrollbar for Chrome, Safari, and Opera
                  &::-webkit-scrollbar {
                    display: none;
                  }

                  @media (min-width: $width_md) {
                    height: calc(100% - 250px);
                  }
                }

                .quick_nav {
                  visibility: visible;
                }
              }
            }
          }
        }

        .x {
          @include transition;

          &:nth-of-type(1) {
            transform: rotate(45deg);
            transform-origin: top left;
            width: 37px;

            @media (max-width: $width_sm) {
              width: 28px;
            }
          }

          &:nth-of-type(2) {
            transform-origin: center;
            width: 0;
          }

          &:nth-of-type(3) {
            transform: rotate(-45deg);
            transform-origin: bottom left;
            width: 37px;

            @media (max-width: $width_sm) {
              width: 28px;
            }
          }
        }
      }

      .logo {
        display: flex;
        justify-content: center;

        img {
          height: 35px;
          @include transition;
          
          @media (min-width: $width_md) {
            height: 40px;
          }
        }
      }

      .search {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .search_btn {
          font-size: 24px;
          cursor: pointer;
          @include transition;
          
          @media (min-width: $width_md) {
            font-size: 36px;
          }
        }
      }
    }
  }

  .no_scroll &,
  &.scrolling {
    .department_bar {
      .department_wrapper {
        a {
          @media (min-width: $width_md) {
            font-size: 1rem;
            @include transition;
          }
        }
      }
    }

    .menu_bar {
      .menu_wrapper {
        img {
          height: 35px;
          @include transition;
        }

        .search {
          .search_btn {
            @include transition;
            
            @media (min-width: $width_md) {
              font-size: 28px;
            }
          }
        }

        .menu {
          .navbar-toggler {
            height: 22px;
            @include transition;
            
            @media (min-width: $width_md) {
              height: 25px;
            }
            
            .x {
              &:nth-of-type(1),
              &:nth-of-type(3) {
                width: 28px;
                @include transition;
                
                @media (min-width: $width_md) {
                  width: 32px;
                }
              }
            }
          }
        }
      }
    }
  }
}
